@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include background;
  background: $primary-color;
  color: $color-light;
  font-family: $font-stack;
  line-height: $line-height;
}

// header
header {
  position: fixed;
  width: 100%;
  z-index: 3;
  // display: none;
}

.menu-btn {
  position: relative;
  .btn-line {
    position: absolute;
    content: "";
    top: 15px;
    right: 20px;
    width: 20px;
    height: 2px;
    background-color: $color-light;
    margin: 5px 0;
  }
}

// Home
h1,
h2,
h3 {
  font-weight: 500;

  &.lg-heading {
    font-size: 5rem;
    margin-bottom: 0.5rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: $color-light;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5rem;

  a {
    padding-right: 0.6rem;
    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }
}

@media (max-width: 750px) {
  #home {
    margin: 0 2rem;
    text-align: center;
  }
}
